/*========= Root ==========*/
:root {
    /*=== Colors ===*/
    --blue-color: #29bbc5;
    --green-color: #6db05d;
    --yellow-color: #efd16b;
    --beige-color: #d9bb7f;

    /*=== Font and typography ===*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: Arial, Helvetica, sans-serif;
  --biggest-font-size: 2.25rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --h4-font-size: .980rem;
  --h5-font-size: .950rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;

    /*=== Font weight ===*/
    --font-regular: 400;
    --font-semi-bold: 600;
    --font-bold: 700;
}
/*========== Responsive typography ==========*/
@media screen and (min-width: 900px) {
    :root {
      --biggest-font-size: 4.25rem;
      --h1-font-size: 2.25rem;
      --h2-font-size: 1.5rem;
      --h3-font-size: 1.25rem;
      --normal-font-size: 1rem;
      --small-font-size: .875rem;
    }
}

/*====== BASIC ======*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html { 
    scroll-behavior: smooth;
    
}

body {
    font-family: var(--body-font);
    overflow-x: hidden;
}

ul {
    list-style: none;
}
  
a {
    text-decoration: none;
}
.grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
   /* gap: 10px;*/
}

h2, h3, h4, h5 {
    font-weight: var(--font-semi-bold);
    text-decoration: underline;
}
/*== Class Reutilisable ==*/
.button {
    font-weight: var(--font-semi-bold);
    cursor: pointer;
    color: #fff;
    padding: 8px 24px;
    border-radius: 50px;
    transition: all .2s ease-out;
}
.button-container {
    display: flex;
    justify-content: center;
    padding: 1em;
}

/* === NAVBAR ===*/

.logo {
    max-width: 100px;
    max-height: 100px;
}

.navbar-brand {
    margin-right: 0;
    padding: 0 1em;
}

.navbar-nav {
    align-items: center;
}

.navbar .navbar-nav .nav-item {
    color: #000;
    font-size: 1.5em;
    font-weight: bolder;
    padding: 1em 1em;
}

.navbar-toggler {
    border: none;
    font-size: 2.5rem;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.nav-link:hover {
    color: var(--blue-color); 
}

.fa-solid {
    color: var(--blue-color);
}

/*=== HERO ===*/

.hero-container {
    background-color: #d9bb7f;
    background-image: url("../images/img/background.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 40vh;
    display: grid;
    grid-column: 1/9;
    align-content: space-around;
}

.hero-container h1 {
    font-size: 8vw;
    font-weight: bold;
    color: #fff;
    text-align: center;
}

@media (min-width: 900px) {
    .hero-container {
        height: 70vh;
    }
    }

/* === MAIN ===*/

/*== Présentation ==*/

.leaf-blue,
.leaf-green {
    max-width: 80px;
    max-height: 80px;
    margin: 1em;
}
.title-presentation,
.title-actualite {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
    text-align: center;
}

.text-presentation {
    padding: 0.8em;
    text-align: justify;
}

.txt-underline {
    text-decoration: underline;
}

.button-readmore {
    background-color: var(--beige-color); 
}

.button-readmore:hover{
    box-shadow: 4px 4px 0 var(--blue-color);
    transform: translate(-4px,-4px);
} 

.img-presentation {
    background-color: #d9bb7f;
    background-image: url("../images/img/presentation.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 40vh;
}
@media (min-width: 900px) {
    .img-presentation {
        height: 70vh;
    }
    }
/* == Actualités ==*/

.card-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    width: 100%;
    border-radius: 10px;
    margin: 1em;
    overflow: hidden;
    box-shadow: 1px 2px var(--beige-color);
}

.card-content {
    padding: 15px;
    text-align: center;
}

.button-actu {
    background-color: var(--green-color); 
}

.button-actu:hover{
    box-shadow: 4px 4px 0 var(--beige-color);
    transform: translate(-4px,-4px);
} 

/* == Contacts ==*/
.contact-container {
     display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 1rem 0 2rem 0;
}
.contact-image {
display: flex;
align-items: center;
}
.contact-image img {
    max-width: 125px;
    max-height: 125px;  
}
.contact {
    max-width: 30rem;
    padding: 1rem;
    background-color: var(--beige-color);
    border-radius: 10%;
    margin: 1rem;   
}
.contact-text, h4, p {   
    text-align: center;
    margin-top: 1em;
}

.button-contact {
    background-color: var(--blue-color);  
}

.button-contact:hover{
    box-shadow: 4px 4px 0 var(--yellow-color);
    transform: translate(-4px,-4px);
} 

@media (min-width: 637px) {
    .contact {
     max-width: 22rem;
    }
    
     }
@media (min-width: 744px) {
   .contact {
    max-width: 25rem;
   }
   .contact-image img {
    max-width: 150px;
    max-height: 150px;  
}
    } 
/*=== FOOTER ===*/

.footer-container {
    width: 100%;
    background-color: var(--green-color);
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1em;
    padding: 1em;
}

.adress h5,
.schedule-price h5 {
    text-align: center;
}
.schedule-price span {
    font-weight: bold;
}
.adress,
.schedule-price {
    margin-top: 1em;
}
.line,
.line-price {
    border-top: 2px solid #000;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.icon-footer,
.icon-fb {
    font-size: 30px;
    text-align: center;  
}
.icon-fb{
    margin-top: 0.5rem;
}
.mention {
    width: 100%;
    background-color: #fff;
    height: 3vh;
    text-align: center;
    font-size: 10px;
}
@media (min-width: 658px) {
    .line-price {
       margin-top:5.58rem;
    }
    }
 